.drop{
    background-color: black;
    color: white;
  
  border: 2px solid #34c94b ;
    width:35vw;
    height:30vh;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;


}
.drop img{
    width:80px;
    height:60px;
    margin-right: 10px;
    left:0;
    border: 1px white solid;
    border-radius: 6px;
    object-fit: cover;

}
.thing{
    display: flex;
    align-items: center;
    scroll-behavior: smooth;
    
    border: 1px solid #34c94b ;
    width:100%;

}
.thing p{
    font-size:12px;
   
}
